.WizardWorld{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0 0 0;
}
.WizardClass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1900px;
    height: 485px;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.2);
}
.WizardClass::-webkit-scrollbar{
    width: 0;
}
.Wizard{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

.HousesLogo{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-direction: row;
}